/* _colors.scss - Variables defined for colors; */

$white: white;
$green: ("1BC47D":#1bc47d,"BED732":#bed732,"219653":#219653);
$yellow: #ffcc00;
$red: #f24822, #fa2f14;
$tsl-def-color: #555555;
$violet:#7C52C0;
$purple: #7C48FF;
$transparent:rgba(0,0,0,0);
$pink:#AC00C3;

$blue:(
  "28056B":#28056b,
  "1996FF":#1996ff,
  "00BCF2":#00BCF2,
  "1996FF19":#1996FF19,
  "7C48FF" : #7C48FF,
);

$gray: (
  "FCFCFC": #fcfcfc,
  "F7F7F7": #f7f7f7,
  "F8F8F8": #f8f8f8,
  "B9B9C3": #B9B9C3,
  "747487": #747487,
  "414155": #414155,
  "565656": #565656,
  "CCCCCC": #ccc,
  "989898": #989898,
  "D0D7DD": #d0d7dd,
  "DCDCE1": #dcdce1,
  "DEDEDE": #dedede,
  "888888": #888888,
  "F9F9FA": #F9F9FA,
  "F1F1F3":#F1F1F3,
  "F4F4F4":#F4F4F4,
  "ECECEF":#ECECEF,
  "ECECEC": #ECECEC,
  "EFEFEF": #EFEFEF,
  "F0F1F5":#F0F1F5,
  "EEF0F7":#EEF0F7,
);

$black: (
  "232333": #232333,
  "333333": #333333,
  "414155": #414155
);
