/* _icons.scss - Classes for modifying icons */

#{$tsl}-icn {
  cursor: pointer;
  &:not(.tsl-icn__header):not(.tsl-aside__toggler--icon):not(.mn-icon--no-hover):hover {
    path {
      fill:map-get($blue,"1996FF");
    }
  }
  &__header.active {
    & path {
      fill:white;
    }
  }
  &__arrow {
    border: solid map-get($gray,"747487");
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3.5px;
    cursor: pointer;

    &--down {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: pxToRem(40);
      right: pxToRem(5);
    }
  }
  &-eye {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  &__search {
    &--left {
      position: absolute;
      top: 7px;
      left: 0;
      + #{$tsl}-form__control {
        padding-left: 34px;
      }
    }
    &--right {
      position: absolute;
      top: pxToRem(39);
      right: 7px;
      width: 13px;
      height: 13px;
      + #{$tsl}-form__control {
        padding-left: 10px;
      }
    }
  }

  &--danger {
    &::after {
      content: "";
      //background:url("../../../assets/images/addcircleoutline.svg") left top no-repeat;
      position: absolute;
      right: -25px;
      bottom: 41px;
      z-index: 1000;
      width: 13px;
      height: 13px;
    }
  }
  &--success {
    &::after {
      content: "";
      //background: url("../../../assets/images/checkcircleoutline.svg") left top no-repeat;
      position: absolute;
      right: -25px;
      bottom: 41px;
      z-index: 1000;
      width: 13px;
      height: 13px;
    }
  }
}

#{$tsl}-icn {
  &--flip {
    transform: rotate(180deg);
  }
}
